@model IEnumerable<Product>

@{
    ViewData["Title"] = "Catalogue";
}

<link rel="stylesheet" href="~/css/site.css" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <style>
        body {
            background-color: #333333;
            color: white;
        }

        .card {
            background-color: #444444;
        }

        .card-header {
            background-color: #FF6600;
        }

        .card-text, .card-title {
            color: white;
        }

        .btn-success {
            background-color: #FF6600;
            border-color: #FF6600;
        }
    </style>
</head>
<body>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white">
                                <h5 class="card-title">
                                    @item.ProductName
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.ProductImage" width="100%" alt="" />
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text"><b>@item.ProductName</b></p>
                                <p class="card-text"><b>Price:</b> @item.ProductPrice.ToString("c")</p>
                                <p class="card-title"><b>Category:</b> @item.ProductCategory</p>
                                <p class="card-title"><b>Availability:</b> @item.ProductAvailability</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer">
                                <p class="card-text">
                                    <a class="btn btn-success text-white"
                                       asp-controller="Orders"
                                       asp-action="AddItemToShoppingCart"
                                       asp-route-id="@item.Id">
                                        <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.ProductPrice.ToString("c"))
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>